body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(#a4d5f7, #d3e5f1);
  display: flex;
  flex-direction: column; /* Permite organizar contenido */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.resultados {
  max-width: 900px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow-y: auto;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #000003;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tfoot td {
  background-color: #2980b9;
  color: white;
  font-weight: bold;
}

.boton-volver {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 999;
  transition: background-color 0.3s ease;
}

.boton-volver:hover {
  background-color: #2980b9;
}

