<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aplicacion Web con Python y SQLAchemy</title>
    <link rel="stylesheet" href="/static/css/formulario.css">
</head>
<body>
    <div class="formulario">
        <a href="index.html" class="boton-volver">Volver</a>

        <h2>Registro de Entrada / Salida</h2>
        <form method="POST" action="/registrar">
            <label for="legajo">Legajo</label>
            <input type="text" name="legajo" id="legajo" required>

            <label for="dni">Ultimos 4 dígitos del DNI</label>
            <input type="text" name="dni_4" id="dni_4" maxlength="4" required>

            <label for="dependencia">Dependencia</label>
            <select name="dependencia" id="dependencia" required>
                <option value="">Seleccione...</option>
                <option value="D01">D01 - Edificio Central</option>
                <option value="D02">D02 - Talleres</option>
                <option value="D03">D01 - Centro Deportivo</option>
            </select>

            <label for="tipo">Tipo de registro</label>
            <select name="tipo" id="tipo" required>
                <option value="">Seleccione...</option>
                <option value="entrada">Entrada</option>
                <option value="salida">Salida</option>
            </select>

            <button type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>