<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Opciones de Registro</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="contenedor-botones">
  <h1>Aplicacion Web con Flask y SQL Achemy</h1>
  <a href="/templates/formulario.html" class="boton">Registrar Entrada</a>
  <a href="/templates/formulario.html" class="boton">Registrar Salida</a>
  <a href="/templates/formulario.html" class="boton">Consultar Registros</a>
  <a href="/templates/formulario.html" class="boton">Generar Informe General</a>
  <a href="/templates/formulario.html" class="boton">Generar Informe Personal</a>
  </div>
</body>
</html>
