<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Opciones de Registro</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="contenedor-botones">
  <h1>Aplicacion Web con Flask y SQL Achemy</h1>
  <a href="/templates/formulario.html" class="boton">1</a>
  <a href="/templates/formulario.html" class="boton">2</a>
  <a href="/templates/formulario.html" class="boton">3</a>
  <a href="/templates/formulario.html" class="boton">4</a>
  <a href="/templates/formulario.html" class="boton">5</a>
  </div>
</body>
</html>
