<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Opciones de Registro</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="contenedor-botones">
    <h1>Aplicación Web con Flask y SQLAlchemy</h1>
    
    <!-- BOTONES -->
    <a href="/registrar-entrada" class="boton">Registrar Entrada</a>
    <a href="/registrar-salida" class="boton">Registrar Salida</a>
    <a href="/consultar" class="boton">Consultar Registros</a>
    <a href="/informe/general" class="boton">Generar Informe General</a>
    <a href="/informe/personal" class="boton">Generar Informe Personal</a>
  </div>
</body>
</html>
